<p><%= Phonelib.parse("#{phone.number}").full_international  %></p>
<%= link_to "#{t(:delete)}", person_phone_path(@person, phone), method: :delete,
data: { confirm: "#{t(:delete_phone?)}" }, class: 'btn btn-danger' %>
