<br>
<div class="row">
  <div class="col-12">
    <% @people.each do |person| %>
      <ul class="listing">
        <div class="col-md-4" align="center">
          <h3>
            <%= link_to person.name, person_path(person) %>
          </h3>
          <p>
            <%= person.type %>
          </p>
          <%= link_to t(:delete), person_path(person), method: :delete,
          data: {confirm: t(:delete_person?)}, class: 'btn btn-danger' %>
        </div>
      </ul>
      <br>
    <% end %>
  </div>
</div>
