<%= render 'shared/errors', object: @person %>

<%= render 'form_page_title', title: t(:select_person_type) %>

<h3>
  <%= link_to t(:individual), new_individual_path %>
</h3>

<h3>
  <%= link_to t(:company), new_company_path %>
</h3>
