<br>
<div class="row">
  <div class="col-12">
    <% @states.each do |state| %>
      <ul class="listing">
        <div class="col-md-4" align="center">
          <h3>
            <%= link_to state.name, state_path(state) %>
          </h3>
          <h5>
            <%= link_to state.country.name, country_path(state.country) %>
          </h5>

          <%= link_to "#{t(:delete)}", state_path(state), method: :delete,
          data: { confirm: "#{t(:delete_state?)}" }, class: 'btn btn-danger' %>
        </div>
      </ul>
      <br>
    <% end %>
  </div>
</div>
