<div class="container">
  <div align="center">
    <div class="col-md-6">
    <% if object.errors.any? %>

          <div class="alert alert-danger">
            <ul>
              <a href="#" class="close">&#215</a>
              <% object.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
    <% end %>
    </div>
  </div>
</div>
<br>

<script type="text/javascript">
$(".alert a").click(function() {
    $(".alert").hide()
    return false;
});
</script>
