@CHARSET "UTF-8";

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
}

.form-group .rating {
    padding-top: 7px;
    margin-top: 1px;
}



.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.-checked
	
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating:hover .rating-star.-checked ~ .rating-star,
.rating-input:checked ~ .rating-star,
.rating-star.-checked,
.rating-star.-checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star:not(.-checked) {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../img/star.png') 0 -16px
}

html form::after, html form::before {
    content: " ";
    display: table;
}

html form::after {
    clear: both;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }