<div class="page-content-wrapper">
   <!-- BEGIN CONTENT BODY -->
   <div class="page-content">
      <!-- END PAGE BAR -->
      <!-- BEGIN PAGE TITLE-->
      <div class="row">
         <div class="col-md-12">
           <!-- BEGIN SAMPLE TABLE PORTLET-->
           <div class="portlet box green">
              <div class="portlet-title">
                 <div class="caption">
                    <i class="fa fa-cart"></i><%= t(:product_list) %> no carrinho
                 </div>
              </div>
           </div>
           <div class="shopping-cart">
             <%= render "shopping_cart" %>
           </div>
           <!-- END SAMPLE TABLE PORTLET-->
           <!-- BEGIN SAMPLE TABLE PORTLET-->
        </div>
     </div>
  </div>
</div>
</div>
