<tr>
   <td> <%= room.room_name %> </td>
   <td> <%= Place.find(room.place_id).name %> </td>
   <td >
      <%= link_to(edit_place_room_path(@place, room), class: "btn btn-circle btn-icon-only green pull-right") do %>
      <i class="fa fa-edit" aria-hidden="true" title="<%= t(:edit) %>"></i>
      <% end %>
   </td>
</tr>
