<br>
<div class="row">
  <div class="col-12">
    <% @cities.each do |city| %>
      <ul class="listing">
        <div class="col-md-4" align="center">
          <h3>
            <%= link_to city.name, city_path(city) %>
          </h3>
          <h5>
            <%= link_to city.state.name, state_path(city.state) %>
          </h5>
          <h6>
            <%= link_to city.state.country.name, country_path(city.state.country) %>
          </h6>

          <%= link_to "#{t(:delete)}", city_path(city), method: :delete,
          data: { confirm: "#{t(:delete_city?)}" }, class: 'btn btn-danger' %>
        </div>
      </ul>
      <br>
    <% end %>
  </div>
</div>
