.type-person-no-display {
  display: none;
}
select.select-date {
  width: 30%;
  margin-right: 1px;
  float: left;
}
.select-date-wrapper{
  select:first-of-type{
    width: 15%;
  }
  select:nth-of-type(2){
    width: 45%;
  }
  select:last-of-type{
    width: 25%;
    margin-right: 0;
  }
}

.right {
  text-align: right;
}

.message-positon {
  position: absolute !important;
  top: 40px;
  right: 150px;
}
.listing {
  list-style: none;
  padding-left: 0;
}
