<p><%= email.body %></p>
<% if current_user.has_role? :admin  %>
  <%= link_to "#{t(:delete)}", person_email_path(emailable, email), method: :delete,
  data: { confirm: "#{t(:delete_email?)}" }, class: 'btn btn-danger' %>
<% end %>
<hr />
