<nav class="navbar-default navbar-side" role="navigation">
   <div class="sidebar-collapse">
      <ul class="nav" id="menu">
         <li class="active-link">
            <a href="/" ><i class="fa fa-desktop "></i>Dashboard</a>
         </li>
         <li>
            <a href="ui.html"><i class="fa fa-table "></i>UX Elements </span></a>
         </li>
         <li>
            <a href="ui.html"><i class="fa fa-facebook "></i>UI Elements </span></a>
         </li>
         <li>
            <a href="blank.html"><i class="fa fa-edit "></i>Blank Page</span></a>
         </li>
         <li><a><i class="fa fa-edit "></i>Teste</a>
          <ul>
            <li><a>Stuffs</a></li>
            <li><a>Utilities</a></li>
          </ul>
        </li>
      </ul>
   </div>
</nav>
