<nav class="navbar-default navbar-side" role="navigation">
   <div class="sidebar-collapse">
      <ul class="nav" id="menu">
         <li class="active-link">
            <a href="index.html" ><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
         </li>
         <li>
            <a href="ui.html"><i class="fa fa-table "></i>UI Elements  <span class="badge">Included</span></a>
         </li>
         <li>
            <a href="blank.html"><i class="fa fa-edit "></i>Blank Page  <span class="badge">Included</span></a>
         </li>
         <li><a><i class="fa fa-edit "></i>Teste</a>
          <ul>
            <li><a>Home Entertainment</a></li>
            <li><a>Car Hifi</a></li>
            <li><a>Utilities</a></li>
          </ul>
        </li>
      </ul>
   </div>
</nav>
</nav>
